---
import PostList from '@/components/PostList.astro'
import { defaultLocale } from '@/config'
import { getTagPath } from '@/i18n/path'
import Layout from '@/layouts/Layout.astro'
import { getAllTags, getPostsByTag } from '@/utils/content'

export async function getStaticPaths() {
  const defaultTags = await getAllTags(defaultLocale)
  return defaultTags.map((tag: string) => ({
    params: { tags_tag: `tags/${tag}/` },
    props: { tag, lang: defaultLocale },
  }))
}

const { tag, lang } = Astro.props
const posts = await getPostsByTag(tag, lang)
const allTags = await getAllTags(lang)

// Since we only support one language now, we don't need to check for supported languages
const supportedLangs = [defaultLocale]
---

<Layout supportedLangs={supportedLangs}>
  <!-- Decorative Line -->
  <div class="uno-decorative-line"></div>
  <!-- Tags List -->
  <div class="uno-tags-wrapper">
    {allTags.map(tagName => (
      <a
        href={getTagPath(tagName, lang)}
        class={`uno-tags-style ${
          tag === tagName
            ? 'border-secondary/75 text-primary'
            : ''
        }`}
      >
        {tagName}
      </a>
    ))}
  </div>

  <!-- Posts List -->
  <div class="mt-10.5">
    <PostList posts={posts} lang={lang} />
  </div>
</Layout>
